.navbar-custom {
    background-color:$teal;
    border-radius:0;

}

.navbar-custom .navbar-brand {
    color: $white;
}
.navbar-custom .navbar-nav > li > a {
    color:$white;
    background-color:transparent;
}
.navbar-custom .navbar-nav > .active > a {
    color: darken($white,5);
    background-color:transparent;
}

.textContainer{
  width:90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
